Mendeley_Dataset/.ipynb_checkpoints
Mendeley_Dataset/medeley_dataset.csv
Mendeley_Dataset/Ref_Paper
venv
Zendodo_Dataset/menor%bots_1
Zendodo_Dataset/menor%bots_2
Zendodo_Dataset/menor_bots_1.zip
Zendodo_Dataset/menor_bots_2.zip
Zendodo_Dataset/DataSet.zip
Zendodo_Dataset/.ipynb_checkpoints